@import '../../styles/variables';

.score_board {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 10px;
    font-family: $main-font-family;

    * {
        margin: 0 5px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 180px;
        row-gap: 20px;
        border: 1px solid #fff;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 400;

        h3 {
            font-size: 1.1rem;
            font-weight: 600;
        }

        > li {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 10px;
            list-style: none;
        }

        button {
            padding: 5px 10px;
            border: none;
            border-radius: 2px;
            background-color: #fff;
            font-size: rem;
            font-weight: 400;
            font-size: 0.8rem;
            font-weight: 400;
            align-items: center;
            line-height: 1rem;
            cursor: pointer;
            word-wrap: break-word;
        }
    }
}