.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 300px;
    padding: 0 1rem;
    row-gap: 20px;

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    button {
        background-color: rgb(82, 16, 186);
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        cursor: pointer;
    }
}