@import "../../styles/variables.scss";

.game_info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-width: 120px;
            gap: 10px;

            > :first-child {
            font-size: 1.2rem;
            font-weight: 400;
            }

            > :last-child {
            font-size: 1.2rem;
            font-weight: 700;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 100%;

        button {
            width: 150px;
            height: 60px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: $secondary-color;
            color: #210E4A;
            font-size: 0.7rem;
            font-weight: 700;
            align-items: center;
            line-height: 1rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            word-wrap: break-word;

                &:hover {
                    background-color: rgb(211, 66, 66);;
                }
            }
    }
}