// Colors
$primary-color: #388DFF;
$secondary-color: #28DC8E;
$secondary-color-tangerine: #FF9C0E;
$bg-color-light: #FFF6DA;
$bg-color-dark: #210E4A;
$text-color-light: #210E4A;
$text-color-dark: #FFF6DA;

// Fonts
$main-font-family: "europa", sans-serif;